@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

.ft {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #C0C0C0;
}
.ft1 {
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #09cad1;
}
